{% extends "layout.jinja2" %}

{% block title %}Página de Autenticación{% endblock %}

{% block content %}
<h1>Bienvenido al módulo de Autenticación</h1>
<p>Contenido específico de autenticación.</p>
{% endblock %}