{% extends "layout.jinja2" %}

{% block title %}Página de Autenticación{% endblock %}

{% block content %}
<form method="post">
  {{ form.csrf_token }}
  {{ form.username.label }} {{ form.username }}
  {{ form.password.label }} {{ form.password }}
  <button type="submit">Iniciar Sesión</button>
</form>
{% endblock %}