{% extends "layout.jinja2" %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<h1>Bienvenido a la página de inicio</h1>

<div>

  {% if current_user.is_authenticated %}
  <a id="carrito-link" href="{{ url_for('home.orders') }}" data-default_href="{{ url_for('home.orders') }}">
    <span>Carrito</span>
    <span>🛒</span>
    <span id="carrito-count">0</span>
  </a>
  {% else %}
  <a href="{{ url_for('auth.login') }}">
    <span>Iniciar Sesión</span>
    <span>🛒</span>
    <span id="carrito-count">0</span>
  </a>
  {% endif %}

</div>

<h2>
  Productos
  {% if category %}
  de {{ category }}
  {% endif %}
</h2>

{% if products %}

<section>


  {% for product in products %}
  <article>
    <h3>{{ product.name }}</h3>
    <p>Precio: {{ product.price }}</p>
    <p>Cantidad: {{ product.amount }}</p>
    <p>Categoría: {{ product.category }}</p>
    <button class="btn-select-product" data-mode="add" data-id_product="{{product.id}}">Agregar al carrio</button>
  </article>

  {% endfor %}

</section>
{% else %}
<p>No hay productos disponibles.</p>
{% endif %}


{% endblock content %}

{% block scripts %}
{{ super() }}

<script type="module" src="{{ url_for('home.static', filename='js/orders.js') }}"></script>

{% endblock scripts %}