{% extends "layout.jinja2" %}

{% block title %}Tienda Online{% endblock %}

{% block content %}

<main class="container-fluid p-3">
    <h2>Bienvenido a la tienda online</h2>

    <div class="d-flex justify-content-between align-items-center py-2">
        <h2 class="">
            Productos
            {% if category %}
            de {{ category }}
            {% endif %}
        </h2>
        {% if current_user.is_authenticated %}
        <a class="btn btn-outline-dark" id="carrito-link" href="{{ url_for('orders.index') }}"
            data-default_href="{{ url_for('orders.index') }}">
            <span>Carrito</span>
            <span>🛒</span>
            <span id="carrito-count">0</span>
        </a>
        {% else %}
        <a class="btn btn-outline-dark" href="{{ url_for('auth.login') }}">
            <span>Iniciar Sesión</span>
            <span>🛒</span>
            <span id="carrito-count">0</span>
        </a>
        {% endif %}

    </div>



    {% if products %}

    <section class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for product in products %}
        <article class="card">
            <div class="card-header">
                <h3>{{ product.name }}</h3>
            </div>
            <div class="card-body">

                <p>Precio: {{ product.price }}</p>
                <p>Cantidad: {{ product.amount }}</p>
                <p>Categoría: {{ product.category }}</p>

            </div>
            <div class="card-footer">
                <button class="btn btn-dark btn-select-product" data-mode="add" data-id_product="{{product.id}}">
                    Agregar al carrito
                </button>
            </div>
        </article>

        {% endfor %}

    </section>
    {% else %}
    <div class="d-flex justify-content-center align-items-center ">
        <p class="fs-4">No hay productos disponibles.</p>
    </div>
    {% endif %}

</main>

{% endblock content %}

{% block scripts %}
{{ super() }}

<script type="module" src="{{ url_for('home.static', filename='js/orders.js') }}"></script>

{% endblock scripts %}