{% extends "layout.jinja2" %}

{% block title %}Pago{% endblock %}

{% block content %}

<main class="container p-3">
    <h2>Pedido con éxito</h2>
    <p class="fs-4">Se ha realizado el pedido con éxito</p>

    <p class="fs-4">El pago fue de <span class="fw-bold">${{ total_order }} </span></p>

    <a class="btn btn-outline-dark mb-3" href="{{ url_for('home.index') }}">Volver</a>
    <p class="fs-4 fw-bold">Lista de pedidos</p>
    <ul class="list-group">
        {% for product,amount,total in list_orders %}
        <li class="list-group-item">
            Producto: {{ product.name }}
            <br>
            Cantidad: {{ amount }}
            <br>
            Total: <span class="fw-bold">${{ total }}</span>
        </li>
        {% endfor %}
    </ul>
</main>

{% endblock content %}

{% block scripts %}
{{ super() }}

<script type="module"></script>

{% endblock scripts %}