.pagination .page-item .page-link {
    color: black;
}

.pagination .page-item.active .page-link {
    background-color: black;
    color: white;
    border-color: black;
}

.pagination .page-item.active .page-link:hover {
    background-color: #333;
    color: white;
    border-color: #333;
}
