{% extends "layout.jinja2" %}

{% block title %}Página de Productos{% endblock %}

{% block content %}
<h1>Productos</h1>
<a href="{{ url_for('products.create') }}">Crear Producto</a>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Categoría</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.amount }}</td>
      <td>{{ product.category }}</td>
      <td>
        <a href="{{ url_for('products.edit', id=product.id) }}">Editar</a>
        <a href="{{ url_for('products.delete', id=product.id) }}">Borrar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}