{% extends "layout.jinja2" %}

{% block title %}Página de Productos{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/paginate.css') }}">
{% endblock styles %}

{% block content %}
<main class="container-fluid p-3">
    <h1>Productos</h1>
    <section class="d-flex justify-content-end mb-3">
        <a class="btn btn-outline-dark" href="{{ url_for('products.create') }}">Agregar Producto</a>
    </section>

    <section class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for product in pagination.items %}
                <tr>
                    <td>{{ product.name }}</td>
                    {# Descripción reduce a 10 caracteres #}
                    <td>{{ product.description | truncate(70) }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.category }}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-dark"
                            href="{{ url_for('products.edit', id=product.id) }}">Editar</a>
                        <a class="btn btn-sm btn-outline-danger"
                            href="{{ url_for('products.delete', id=product.id) }}">Borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if pagination.pages > 1 %}
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    {% for page in pagination.iter_pages() %}
                    <li class="page-item  {% if page == pagination.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('products.index', page=page) }}">{{ page }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </nav>
        </div>
        {% endif %}
    </section>
</main>

{% endblock %}