<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    Online Store
    {% endblock title %}
  </title>

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('home.index') }}">Inicio</a></li>
        {% if current_user.is_authenticated %}
        <li>
          <span>Usuario: {{ current_user.username }}</span>
        </li>
        <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Iniciar Sesión</a></li>
        <li><a href="{{ url_for('auth.register') }}">Registro</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock content %}

</body>

</html>